@use "./base.scss";

// put your custom CSS here!

@media (max-width: 800px) {
  .page-title {
    font-size: 1.25rem;
    font-weight: normal;
  }

  .search > .search-button {
    background: transparent;
  }

  .search > .search-button > p {
    display: none;
  }

  button.darkmode,
  button.readermode {
    position: inherit;
  }
}
